AzureDataFactory/pipeline/copy - Publish Data to SQL.json
{
	"name": "copy - Publish Data to SQL",
	"properties": {
		"activities": [
			{
				"name": "Lookup Publish Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_source_info",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Publish_Table.json",
							"container": "manualfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Publish Table Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Publish Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data to Publish SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"exportSettings": {
										"type": "AzureDatabricksDeltaLakeExportCommand"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLS_RawStorage_Sink_LinkService",
										"type": "LinkedServiceReference"
									},
									"path": "manualfiles"
								}
							},
							"inputs": [
								{
									"referenceName": "ADB_DeltaLake_Dataset_Source",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().source_table_name",
											"type": "Expression"
										},
										"db_name": {
											"value": "@item().database_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable_Sink",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().publish_table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "DW_Status_Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 3
				}
			},
			{
				"name": "DW_Status_Job",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup Publish Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Status_Job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Status": "Start"
					}
				}
			},
			{
				"name": "DW_Status_Job1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Publish Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Status_Job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Status": "Stop"
					}
				}
			}
		],
		"annotations": []
	}
}