AzureDataFactory/pipeline/Master Data Pipeline.json
{
	"name": "Master Data Pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy data pipeline adlsgeekcoders",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy data pipeline adlsgeekcoders",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy restAPI",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy restAPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy SQL Tables",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy SQL Tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy airline data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy airline data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copy data pipeline adlsgeekcoders",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy restAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy SQL Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy airline data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Layer_Names_to_Run",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Refresh_Databricks",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Refresh_Databricks",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item().Layer_Names_to_Run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "copy - Publish Data to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy - Publish Data to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"Layer_Names_to_Run": {
				"type": "array",
				"defaultValue": [
					"Database_Creation",
					"Cleansed",
					"Data_Quality_Cleansed",
					"Datamart"
				]
			}
		},
		"annotations": []
	}
}